.wrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #2c2c2b;
}

.container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(189, 184, 184);
}
.box {
    float: left;
    border: 3px solid #0a0a88;
    width: 300px;
    padding: 20px;
    margin: 10px;
  }